.layoutContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1216px;
}

.main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1.title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #21293c;
}
.recommend {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.project-left {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.project-rating {
    
}

.project-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.project-about {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4b587c;
}

.project-details {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.project-details-comments {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #4b587c;
    font-size: 12px;
    line-height: 20px;
}

.vote-button {
    position: relative;
    border: 1px solid #d9e1ec;
    transition: all .3s ease;
    max-height: 64px;
    padding: 7px 4px 12px;
    min-width: 52px;
    max-width: 52px;
    background: #fff;
}

.sidebarWithSeparator {
    width: 280px;
    border-left: 1px solid #d9e1ec;
    margin-left: 64px;
    padding-left: 71px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 160px;
}




@media (max-width: 759px) {
    .layoutContainer {
        flex-direction: column;
        max-width: 100%;
        margin: 16px;
    }
}

@media (max-width: 1099px) {
    .layoutContainer {
        flex-direction: column;
        max-width: 100%;
        margin: auto 32px;
    }
}

@media only screen and (min-width: 1099px) {
    .mt-widescreen-10 {
        margin-top: 40px !important;
    }
}

@media (max-width: 1439px) {
    .layoutContainer {
        max-width: 988px;
    }
}