.navbar {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 1px 1px rgb(33 41 63 / 10%);
    top: 0;
    position: sticky;
    z-index: 20;
    height: 80px;
    box-sizing: border-box;
}

a.navLink.logo {
    color: #e12e0d;
}

.navLinksBlock {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex: 1;
}

.navLinksBlock.right {
    justify-content: flex-end;
    align-items: center;
}

.navBarLink {
    position: relative;
    z-index: 100;
    white-space: nowrap;
}
button.navBarButton {
    padding: 14px 8px;
    background-color: #e12e0d;
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

button.navBarButton:hover {
    background-color: #ff4582;
}

button.navBarButton a.navBarLink{    
    color: #ffffff;
}

a.navLink {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4b587c;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.searchInput {
    margin-left: 20px;
    padding: 2px 4px 2px 8px;
    width: 240px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /*color: #21293c;*/
    color: lightgrey;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f5f8ff;
    border-radius: 6px;
}


@media only screen and (max-width: 1330px) {
    .question {
        display: none;
    }
}

@media only screen and (min-width: 1099px) and (max-width: 1439px) {
    .px-desktop-5 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (min-width: 1439px) {
    .px-widescreen-8 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}
